breathe==4.9.1
sphinx==4.4.0
jinja2==3.1.4
# https://github.com/sphinx-doc/sphinx/issues/9923
docutils==0.15
# Pin versions to avoid a compatibility issue: "The sphinxcontrib.<extension_name> extension used by this project needs at least Sphinx v5.0"
sphinxcontrib_applehelp<1.0.8
sphinxcontrib_devhelp<1.0.5
sphinxcontrib_htmlhelp<2.0.4
sphinxcontrib_qthelp<1.0.6
sphinxcontrib-serializinghtml<1.1.10

sphinx_book_theme==1.0.1
sphinx-intl==2.0.0
sphinx-tabs==3.4.5
sphinx-prompt==1.5.0
sphinx_substitution_extensions==2022.2.16
