name: oneDPL CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - release_oneDPL
      - main
      - 'release/**'

permissions: read-all

env:
  BUILD_CONCURRENCY: 2
  MACOS_BUILD_CONCURRENCY: 3
  TEST_TIMEOUT: 360
  WINDOWS_TBB_DOWNLOAD_LINK: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/64957c0f-37bf-4408-909c-37ff52fe5119/w_tbb_oneapi_p_2021.11.0.49526.exe
  WINDOWS_ICPX_DOWNLOAD_LINK: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/dc441d10-698c-417d-be6f-44a172f7ab77/w_dpcpp-cpp-compiler_p_2024.0.1.28_offline.exe
  WINDOWS_ONEAPI_PATH: C:\Program Files (x86)\Intel\oneAPI
  LINUX_TBB_DOWNLOAD_LINK: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/af3ad519-4c87-4534-87cb-5c7bda12754e/l_tbb_oneapi_p_2021.11.0.49527_offline.sh
  LINUX_ICPX_DOWNLOAD_LINK: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/c68c8f0a-47f5-4f26-8e8e-fa2627271279/l_dpcpp-cpp-compiler_p_2024.0.1.29_offline.sh
  LINUX_ONEAPI_PATH: /opt/intel/oneapi
  MACOS_ONEAPI_DOWNLOAD_LINK: https://registrationcenter-download.intel.com/akdlm/irc_nas/18358/m_cpp-compiler-classic_p_2022.0.0.62_offline.dmg

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  clang-format:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref:  ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-python@v3
        with:
          python-version: '3.x' 
      - name: Get clang-format
        run: sudo apt-get install -yqq clang-format
      - name: Applying clang-format for changed files
        run: |
          MERGE_BASE=$(git merge-base ${{ github.event.pull_request.head.sha }} ${{ github.event.pull_request.base.sha }})
          FILES=$(git diff --diff-filter=d --name-only $MERGE_BASE | grep ^include | grep -v nanorange\.hpp\$ || true)
          CLANG_FORMAT_DIFF_PATH=$(which clang-format-diff)
          echo $FILES | xargs -n1 -t -r git diff -U0 --no-color --relative $MERGE_BASE | python3 $CLANG_FORMAT_DIFF_PATH -i -p1 -style file
        if: github.event_name == 'pull_request' || github.event_name == 'push'
      - name: Creating diff
        run: git diff > clang-format.diff
      - name: Checking if diff is empty
        run: if [ -s clang-format.diff ]; then cat clang-format.diff; exit 1; fi
      - if: failure()
        name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: clang-format-diff
          path: clang-format.diff
          retention-days: 3

  codespell:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - name: Install prerequisites
        run: |
          sudo apt update && sudo apt install -y codespell
      - name: Run scan
        run: |
          ${GITHUB_WORKSPACE}/.github/scripts/codespell.sh $(pwd)

  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install prerequisites
        run: |
          echo GITHUB_SHA_SHORT=${GITHUB_SHA::8} >> $GITHUB_ENV
          python -m pip install -r documentation/library_guide/requirements.txt
      - name: Build documentation
        run: |
          mkdir html
          sphinx-build -b html documentation/library_guide/ html/
      - name: Archive build directory
        uses: actions/upload-artifact@v1
        with:
            name: onedpl-html-docs-${{ env.GITHUB_SHA_SHORT }}
            path: html

  linux-testing:
    name: ${{ matrix.device_type }},bknd=${{ matrix.backend }},cmplr=${{ matrix.cxx_compiler }},${{ matrix.os }},std=с++${{ matrix.std }},cfg=${{ matrix.build_type }}
    runs-on: ['${{ matrix.os }}']
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            cxx_compiler: icpx
            std: 17
            build_type: release
            backend: dpcpp
            device_type: CPU
          - os: ubuntu-20.04
            cxx_compiler: icpx
            std: 17
            build_type: release
            backend: dpcpp
            device_type: FPGA_EMU
          - os: ubuntu-20.04
            cxx_compiler: icpx
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: ubuntu-20.04
            cxx_compiler: icpx
            std: 17
            build_type: release
            backend: omp
            device_type: HOST
          - os: ubuntu-latest
            cxx_compiler: g++
            std: 17
            build_type: release
            backend: omp
            device_type: HOST
          - os: ubuntu-latest
            cxx_compiler: g++
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: ubuntu-20.04
            cxx_compiler: g++
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: ubuntu-20.04
            cxx_compiler: clang++
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: ubuntu-20.04
            cxx_compiler: clang++
            std: 17
            build_type: release
            backend: omp
            device_type: HOST
          - os: ubuntu-latest
            cxx_compiler: clang++
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: ubuntu-20.04
            cxx_compiler: icpx
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: ubuntu-20.04
            cxx_compiler: g++
            std: 17
            build_type: release
            backend: serial
            device_type: HOST
    steps:
      - uses: actions/checkout@v3
      - name: Install Intel® oneAPI Threading Building Blocks
        if: (matrix.backend == 'tbb' || matrix.backend == 'dpcpp')
        run: |
          curl ${LINUX_TBB_DOWNLOAD_LINK} --output tbb_install.sh
          sudo sh tbb_install.sh -s -a --silent --eula accept
          rm -f tbb_install.sh
      - name: Install Intel® oneAPI DPC++/C++ Compiler
        if: (matrix.cxx_compiler == 'icpx' || matrix.cxx_compiler == 'icx' || matrix.cxx_compiler == 'icx-cl' || matrix.cxx_compiler == 'dpcpp' || matrix.cxx_compiler == 'dpcpp-cl')
        run: |
          curl ${LINUX_ICPX_DOWNLOAD_LINK} --output icpx_install.sh
          sudo sh icpx_install.sh -s -a --silent --eula accept
          rm -f icpx_install.exe
          sudo rm -rf ${LINUX_ONEAPI_PATH}/dpl
      - name: Run testing
        shell: bash
        run: |
          set -x
          if [[ -f "${LINUX_ONEAPI_PATH}/setvars.sh" ]]; then
            source ${LINUX_ONEAPI_PATH}/setvars.sh
            echo "::warning::Compiler: $(${{ matrix.cxx_compiler }} --version)"
            sycl-ls
          fi
          echo "::warning::CMake: $(cmake --version)"

          if [[ "${{ matrix.backend }}" == "dpcpp" ]]; then
            make_targets="build-onedpl-sycl_iterator-tests"
            ctest_flags="-R sycl_iterator_.*\.pass"
            echo "::warning::dpcpp backend is set. Compile and run only sycl_iterator tests"
          else
            make_targets="build-onedpl-tests"
          fi
          mkdir build && cd build
          lscpu
          cmake -DCMAKE_CXX_STANDARD=${{ matrix.std }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} -DONEDPL_BACKEND=${{ matrix.backend }} -DONEDPL_DEVICE_TYPE=${{ matrix.device_type }} ..
          make VERBOSE=1 -j${BUILD_CONCURRENCY} ${make_targets}
          ctest --timeout ${TEST_TIMEOUT} --output-on-failure ${ctest_flags}

  linux-pstl-offload-testing:
    name: PSTL offload ${{ matrix.device_type }},bknd=dpcpp,cmplr=${{ matrix.cxx_compiler }},${{ matrix.os }},std=с++${{ matrix.std }},cfg=${{ matrix.build_type }}
    runs-on: ['${{ matrix.os }}']
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            cxx_compiler: icpx
            std: 17
            build_type: release
            device_type: cpu
    steps:
      - uses: actions/checkout@v3
      - name: Install Intel® oneAPI Threading Building Blocks
        if: (matrix.backend == 'tbb' || matrix.backend == 'dpcpp')
        run: |
          curl ${LINUX_TBB_DOWNLOAD_LINK} --output tbb_install.sh
          sudo sh tbb_install.sh -s -a --silent --eula accept
          rm -f tbb_install.sh
      - name: Install Intel® oneAPI DPC++/C++ Compiler
        if: (matrix.cxx_compiler == 'icpx' || matrix.cxx_compiler == 'icx' || matrix.cxx_compiler == 'icx-cl' || matrix.cxx_compiler == 'dpcpp' || matrix.cxx_compiler == 'dpcpp-cl')
        run: |
          curl ${LINUX_ICPX_DOWNLOAD_LINK} --output icpx_install.sh
          sudo sh icpx_install.sh -s -a --silent --eula accept
          rm -f icpx_install.exe
          sudo rm -rf ${LINUX_ONEAPI_PATH}/dpl
      - name: Run testing
        shell: bash
        run: |
          set -x
          if [[ -f "${LINUX_ONEAPI_PATH}/setvars.sh" ]]; then
            source ${LINUX_ONEAPI_PATH}/setvars.sh
            echo "::warning::Compiler: $(${{ matrix.cxx_compiler }} --version)"
            sycl-ls
          fi
          echo "::warning::CMake: $(cmake --version)"

          make_targets=""
          ctest_regex="^("

          test_list="adjacent_find.pass copy_move.pass merge.pass partial_sort.pass remove_copy.pass \
                     transform_reduce.pass transform_scan.pass algorithm.pass execution.pass functional.pass \
                     algorithms_redirection.pass usm_memory_replacement.pass"

          for test in $test_list
          do
            if [ -n "$make_targets" ]
            then
              make_targets+=" "
              ctest_regex+="|"
            fi

            make_targets+="$test"
            ctest_regex+="$test"
          done

          ctest_regex+=")"

          mkdir build && cd build
          lscpu

          device_type=${{ matrix.device_type }}
          cmake -DCMAKE_CXX_STANDARD=${{ matrix.std }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} -DONEDPL_BACKEND=dpcpp \
            -D_ONEDPL_PSTL_OFFLOAD=$device_type ..
          make VERBOSE=1 -j${BUILD_CONCURRENCY} ${make_targets}

          ctest --timeout ${TEST_TIMEOUT} --output-on-failure -R ${ctest_regex}

  windows-testing:
    name: ${{ matrix.device_type }},bknd=${{ matrix.backend }},cmplr=${{ matrix.cxx_compiler }},${{ matrix.os }},std=c++${{ matrix.std }},cfg=${{ matrix.build_type }}
    runs-on: ['${{ matrix.os }}']
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2019
            cxx_compiler: icx-cl
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: windows-2019
            cxx_compiler: cl
            std: 17
            build_type: release
            backend: tbb
            device_type: HOST
          - os: windows-2019
            cxx_compiler: icx
            std: 17
            build_type: release
            backend: dpcpp
            device_type: CPU
    steps:
      - uses: actions/checkout@v3
      - name: Install Intel® oneAPI Threading Building Blocks
        if: (matrix.backend == 'tbb' || matrix.backend == 'dpcpp')
        shell: cmd
        run: |
          curl %WINDOWS_TBB_DOWNLOAD_LINK% --output tbb_install.exe
          tbb_install.exe -s -a --silent --eula accept -p=NEED_VS2019_INTEGRATION=0 -p=NEED_VS2022_INTEGRATION=0
          del tbb_install.exe
      - name: Install Intel® oneAPI DPC++/C++ Compiler
        shell: cmd
        run: |
          curl %WINDOWS_ICPX_DOWNLOAD_LINK% --output icpx_install.exe
          icpx_install.exe -s -a --silent --eula accept -p=NEED_VS2019_INTEGRATION=0 -p=NEED_VS2022_INTEGRATION=0
          del icpx_install.exe
          rd /s /q "%WINDOWS_ONEAPI_PATH%\dpl"
          call "%WINDOWS_ONEAPI_PATH%\setvars.bat"

      - name: Run testing
        shell: cmd
        run: |
          if exist "%WINDOWS_ONEAPI_PATH%\setvars.bat" (
            call "%WINDOWS_ONEAPI_PATH%\setvars.bat"
            powershell $output = ${{ matrix.cxx_compiler }} --version; Write-Host ::warning::Compiler: $output
            sycl-ls
          )
          if "${{ matrix.cxx_compiler }}" == "cl" (
            call "C:\Program Files (x86)\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          )
          powershell $output = cmake --version; Write-Host ::warning::CMake: $output

          if "${{ matrix.backend }}" == "dpcpp" (
            set ninja_targets="build-onedpl-sycl_iterator-tests"
            set ctest_flags=-R sycl_iterator_.*\.pass
            echo ::warning::dpcpp backend is set. Compile and run only sycl_iterator tests
          ) else (
            set ninja_targets=build-onedpl-tests
          )
          mkdir build && cd build

          cmake -G "Ninja" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCMAKE_CXX_STANDARD=${{ matrix.std }} -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} -DONEDPL_BACKEND=${{ matrix.backend }} -DONEDPL_DEVICE_TYPE=${{ matrix.device_type }} .. || goto :short_circuit_fail
          ninja -j 2 -v %ninja_targets% || goto :short_circuit_fail
          ctest --timeout %TEST_TIMEOUT% -C ${{ matrix.build_type }} --output-on-failure %ctest_flags% || goto :short_circuit_fail
          exit /b 0
          :: modify the default behaviour of shell:cmd, which exits with the status of a last command, in order not to unintentially miss an error
          :short_circuit_fail
          exit /b %errorlevel%

  macos-testing:
    name: HOST,bknd=${{ matrix.backend }},cmplr=${{ matrix.cxx_compiler }},${{ matrix.os }},std=c++${{ matrix.std }},cfg=${{ matrix.build_type }}
    runs-on: ['${{ matrix.os }}']
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-11
            cxx_compiler: icpc
            std: 17
            build_type: release
            backend: omp
    steps:
      - uses: actions/checkout@v3
      - name: Install Intel® oneAPI C++ Compiler Classic and Intel® oneAPI Threading Building Blocks
        run: |
          wget ${MACOS_ONEAPI_DOWNLOAD_LINK}
          mkdir installer
          hdiutil attach -mountpoint ./installer/ m_cpp-compiler*.dmg
          sudo ./installer/bootstrapper.app/Contents/MacOS/install.sh -c --action install --eula accept
      - name: Exclude tests with known issues
        if: matrix.backend == 'omp'
        run: echo "EXCLUDE_FROM_TESTING=transform_binary.pass|transform_unary.pass" >> $GITHUB_ENV
      - name: Run testing
        shell: bash
        run: |
          set -x
          source /opt/intel/oneapi/setvars.sh
          echo "::warning::Compiler: $(cmake --version)"
          if [[ "${{ matrix.cxx_compiler }}" == "icpc" ]]; then
            echo "::warning::Compiler: $(icpc --version)"
          fi
          mkdir build && cd build
          cmake -DCMAKE_CXX_STANDARD=${{ matrix.std }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} -DONEDPL_BACKEND=${{ matrix.backend }} ..
          make VERBOSE=1 build-onedpl-tests -j${MACOS_BUILD_CONCURRENCY}
          ctest --timeout ${TEST_TIMEOUT} --output-on-failure -E "${EXCLUDE_FROM_TESTING}"
